<div class="page" data-page="about_item">
    <div class="page-content">
        <div class="content-block-title"> Cornelius </div>
        <div class="content-block">
                <p> 
                    This is a description about this task..
                    something not within. am still trying out my hand at developing.
                </p>
        </div>
    </div>
</div>